doctype html
html
  head
    title MyPara App (DWeb 2018: aula8)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/myPara.js')
  body
    block content
