extends layout
block content
	.w3-container(style='text-align:center;padding-top:80px;max-width:400px;margin:0 auto;')
		.w3-card-4
			header.w3-container.w3-costum-color-1
				h1 myFacebook
			div
				h3 Log In
			div
				form.w3-container(method="POST" action="/login")
					input.w3-input.w3-costum-color-5(type="text" name="email" placeholder="example@mail.com" style='margin-top:10px' required)
					input.w3-input.w3-costum-color-5(type="password" name="password" placeholder="********" style='margin-top:10px' required)
					input.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(type="submit" value="Log In" style='margin-top:10px')
			hr
			div
				a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='http://localhost:5000/auth/facebook', style='width:80%') Facebook
			hr
			div
				a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='http://localhost:5000/registar', style='width:83%;margin-bottom:20px') Registar