extends layout
block content
  each p in processo
    .w3-container
      header.w3-container.w3-blue
        h1 Processo: #{p.codigo}
      div.w3-container
        p= p.titulo
        br
        a(href= p.id)= p.id
        br
        br
        a(href= 'http://localhost:3000/c'+p.codigo+'/descendencia') Descendência
  footer.w3-container.w3-blue
    a(href='http://localhost:3000/') Voltar à página inicial