extends layout
block content
	.w3-container
		.w3-card-4
			header.w3-container.w3-teal
				h3 Gestão de Alunos
			.w3-container
				ul.w3-ul
					li
						a(href='/registo') Registo de um aluno
					li
						a(href='/lista') Lista de alunos	
			footer.w3-container.w3-teal
				address Gerado po FormApp