doctype html
html
  head
    title Arquivo de Música Digital
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/myObras.js')
  body
    block content
